body {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: navy;
  background-image: url("https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
}

.linkContainers {
  width: 400px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .linkTitles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 495px;
  height: 450px;
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: 3px 3px #000000;
  font-weight: bold;
  z-index: -1;
} */

#homeLink {
  opacity: 0.95;
  height: 450px;
  transition: transform 2s ease-in-out;
}

#homeLink:hover {
  transition: ease 1s;
  transition-timing-function: ease-in-out;
  transform: rotate(45deg);
}

#aboutLink {
  width: 250px;
  transition: transform 1s ease-in-out;
}

#aboutLink:hover {
  transition: ease 0.25s;
  transform: rotate(-5deg);
  transition-timing-function: ease-in-out;
}

#projectLink {
  width: 100px;
  transition: transform 2s ease-in-out;
  text-align: center;
}

#projectLink:hover {
  transform: scaleX(-1);
  transition: ease 1s;
}

#workHisLink {
  width: 300px;
  transition: transform 2s ease-in-out;
  text-align: center;
}

#workHisLink:hover {
  transform: rotate(3deg);
  transition: ease 1s;
}

#contactLink {
  width: 250px;
  transition: transform 2s ease-in-out;
  transform: rotate(-5deg);
}

#contactLink:hover {
  transform: rotate(5deg);
  transition-timing-function: ease-in-out;
}
