#contacts {
  height: 100vh;
  width: 75%;
}

#contactLink {
  width: 250px;
  transition: transform 2s ease-in-out;
  transform: rotate(-5deg);
}

#contactLink:hover {
  transform: rotate(5deg);
  transition-timing-function: ease-in-out;
}