#intro {
  color: rgb(141, 185, 229);
  height: 100vh;
  width: 100%;
  background-color: black;
  padding-top: .5rem;
}

#mainText {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}